body {
    background-color: rgb(243, 244, 244);
}

header,
footer {
    background-color: aqua;
    height: 70px;
    text-align: center;
    padding-top: 10px;
    color: black;
    margin-bottom: 20px;
}

footer {
    height: auto;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
}